*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    height: 60vmin;
    /* background-color: black; */
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
    margin-top: 10px;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    /* box-shadow: 0 0 1rem rgba(0,0,0,0.1); */
    font-size: 8vmin;
    color:red;
    background-color: #87547c;
}
.reset-btn{
   border-radius: 0.5rem;
   border: none;
   color: white;
   background-color:black;
    margin:10px;
    padding: 10px;
    width: 200px;
}
.new-btn{
    border-radius: 0.5rem;
   border: none;
   color: white;
   background-color:black;
    margin:10px;
    padding: 10px;
    width: 200px;
}
.text{

    font-size: 25px;
    color: blue;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}
.draw-mes{
    height: 20vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.hide1{
    display: none;
}
.draw{
    font-size: 25px;
    color: blue;
}